[submodule "ada"]
	path = ada
	url = git@github.com:yorche3/ada.git
[submodule "javascript"]
	path = javascript
	url = git@github.com:yorche3/javascript.git
[submodule "assembly"]
	path = assembly
	url = git@github.com:yorche3/assembly.git
[submodule "ballerina"]
	path = ballerina
	url = git@github.com:yorche3/ballerina.git
[submodule "c"]
	path = c
	url = git@github.com:yorche3/c.git
[submodule "csharp"]
	path = csharp
	url = git@github.com:yorche3/csharp.git
[submodule "cpp"]
	path = cpp
	url = git@github.com:yorche3/cpp.git
[submodule "clojure"]
	path = clojure
	url = git@github.com:yorche3/clojure.git
[submodule "cobol"]
	path = cobol
	url = git@github.com:yorche3/cobol.git
[submodule "common-lisp"]
	path = common-lisp
	url = git@github.com:yorche3/common-lisp.git
[submodule "crystal"]
	path = crystal
	url = git@github.com:yorche3/crystal.git
[submodule "d"]
	path = d
	url = git@github.com:yorche3/d.git
[submodule "dart"]
	path = dart
	url = git@github.com:yorche3/dart.git
[submodule "elixir"]
	path = elixir
	url = git@github.com:yorche3/elixir.git
[submodule "elm"]
	path = elm
	url = git@github.com:yorche3/elm.git
[submodule "erlang"]
	path = erlang
	url = git@github.com:yorche3/erlang.git
[submodule "fsharp"]
	path = fsharp
	url = git@github.com:yorche3/fsharp.git
[submodule "forth"]
	path = forth
	url = git@github.com:yorche3/forth.git
[submodule "gleam"]
	path = gleam
	url = git@github.com:yorche3/gleam.git
